<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Home Page</title>
    <link rel="stylesheet" href="records.css" />
    <link rel="stylesheet" href="navigation.css" />
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar content -->
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item"><a href="/home">Home</a></li>
            <li class="nav-item"><a href="/records">Medical Records</a></li>
            <li class="nav-item"><a href="/booking">Booking</a></li>
            <li class="nav-item"><a href="/chat">Consultation History</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="searchRecord">
      <!-- search bar for finding medical records -->
      <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search..." required />
        <button type="submit" class="btn btn-warning">Search</button>
      </form>
    </div>

    <!-- button to update new records -->
    <div class="updateButton">
      <a href="/upload_med" class="btn btn-primary">Upload new record</a>
    </div>

    <!-- table that shows the most recent records (5 records) -->

    <div class="recordTable">
      <table class="table table-bordered table-striped-columns table-hover">
        <thead>
          <tr class="table table-info">
            <th scope="col"></th>
            <th scope="col">Doc No.</th>
            <th scope="col">Date/Time</th>
            <th scope="col">Doc Type</th>
            <th scope="col">Doctor</th>
          </tr>
        </thead>
        <tbody>
            <% if (records.length > 0) { %>
                <% records.forEach((record, index) => { %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><a href="/med_report/<%= record.doc_no %>"><%= record.doc_no %></a></td>
                        <td><%= record.date %></td>
                        <td><%= record.type %></td>
                        <td><%= record.doctor %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            <% } %>
        </tbody>
      </table>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container-fluid" id="footer-container">
        <div class="logo">
          <h1>EasiDoc</h1>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <h3>Contact us</h3>
            <div class="contact-info" id="contact">
              <p><strong>Email Address:</strong> support@example.com</p>
              <p><strong>Phone Number:</strong> +123-456-7890</p>
              <p>
                <strong>Physical Address:</strong> 123 Example Street, Suite
                456, City, State, ZIP Code
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <h3>Business Hours</h2>
            <div class="business-hours">
              <p><strong>Monday - Friday:</strong> 9:00 AM - 5:00 PM</p>
              <p><strong>Saturday - Sunday:</strong> Closed</p>
            </div>
          </div>
          <div class="col-sm-3">
            <h3>Follow Us</h3>
            <div class="container" id="socials-container">
              <div class = "col">
                <a href = "https://www.facebook.com"><img src = "images/facebook.png" class = "socials-img"></a>
              </div>
              <div class = "col">
                <a href = "https://www.instagram.com"><img src = "images/instagram.png" class = "socials-img"></a>
              </div>
              <div class = "col">
                <a href = "https://www.x.com"><img src = "images/x.png" class = "socials-img"></a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row" id="footer-privacy">
        <h3>Privacy</h3>
        <p>
            Review our <a href="#">privacy policy</a> to understand how we
            handle your information.
          </p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
